.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	top: 0;
	font-size: larger;
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 60px; 
}
.nav {
	background: #222c35;
    color: aliceblue;
	font-size: larger;
	
}
.nav__item {
    display:inline-block;
    margin: 2px 30px;
    font-size: medium;
    font-family: sans-serif;
    font-weight:lighter;
}
#logo{
    width: 70px;
    height: 70px;
    
    border-radius: 50%;
    left: -300px;
    /* border: solid 1px black; */
    top: -1px;
}

