
<div class="site">
	
	<nav class="nav">
		<div class="nav__title">ShareShift Admin</div>
		<ul class="nav__list">
			<li class="nav__item"><a routerLink routerLink="addRoutes"  class="links">add routes</a></li>
			<li class="nav__item"><a routerLink routerLink="postride"  class="links">verify documents</a></li>
			<li class="nav__item">inbox</li>
            <li class="nav__item"><a  routerLink routerLink="login"  class="links">logout</a></li>
		</ul>
	</nav>
    
	<router-outlet></router-outlet>
		